<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="WipeData" connectionString="Data Source=wpl38.hosting.reg.ru;Initial Catalog=u1466925_wipe_data; Integrated Security=False; User ID=u1466925_wipe; Password=12Gfgefccjd" />
	</connectionStrings>
</configuration>